/* @override 
	http://practicalplants.local/sso/design/css/default.css */

/* Web fonts */
@import url("/resources/fonts/crete-round/stylesheet.css");
@import url("/resources/css/masthead.css");
@import url("/resources/css/global.css");

body{
	font-family: Georgia, sans-serif;
}


.result-message{
	margin-top: 25px;
	text-align: center;
}
.result-message h2{
	
}
.result-message p{
	font-size: 20px;
}

dl.zend_form{
	
}
dl.zend_form dt{
	float: left;
	width: 80px;
	clear: left;
	height: 50px;
	text-align: right;
	line-height: 20px;
}
dl.zend_form dd{
	margin-left: 90px;
	height: 50px;
	text-align: left;
}
dl.zend_form input[type=text],
dl.zend_form input[type=password]{
	
	padding: 3px;
	outline: none;
	
	width: 250px;
	
	font-size: 14px;
	
	font-family: CreteRoundRegular;
	
	border: 1px solid #ccc;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ie-border-radius: 5px;
	border-radius: 5px;
}
dl.zend_form label{
	font-size: 16px;
	line-height: 20px;
	font-family: CreteRoundRegular;
	color: #999;
}
dl.zend_form label.required{
	font-family: CreteRoundItalic;
	color:#000;
}
dl.zend_form ul.errors{
	list-style: none;
	padding: 0;
	margin: 3px 0 0 5px;
	color: Red;
}

#login-options{
	position: relative;
	text-align: center;
	background: url(/resources/images/header-bg.png);
	border: 1px solid #ccc;
	border-width: 0 0 1px 0;
}
#login-options .login-box{
	background: rgba(255,255,255,0.4);
	margin: 20px 0 20px 0;
	padding: 0 0 20px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ie-border-radius: 5px;
	border-radius: 5px;
	min-height: 230px;
}
#login-internal{
	display: inline-block;
	vertical-align: top;
	width: 400px;
}
#login-internal dl.zend-form{
	margin-left: 20px;
}
#login-internal dl.zend-form input{
	width: 100px;
}
#login-internal h1{
}
#login-internal #redirect-label,
#login-internal #redirect-element{
	display: none;
}
#login-internal #login-label,
#login-internal #login-element{
	height: auto
}
#login-internal #login-element{
	margin-left: 0;
}
#login-internal input#login{
	width: 250px;
}
#login-internal #persist-label{
	width: auto;
	margin-right: 0;
	margin-left: 140px;
	
}
#login-internal #persist-label label{
	font-size: 12px;
	font-weight: normal;
}
#login-internal #persist-element{
	position: absolute;
	margin-right: 0;
	margin-left: 120px;
}
#login-external{
	display: inline-block;
	vertical-align: top;
	width: 400px;
}
#login-external h1{
}
#login-external ul{
	list-style: none;
	font-size: 18px;
	margin: 0;
	padding: 0 0 0 40px;
	text-align: left;
}
#login-external li{
	width: 150px;
	display: inline-block;
	text-align: left;
	line-height: 24px;
}
#login-external li a{
	line-height: 18px;
	cursor: pointer;
}
#login-external li a:hover{
	text-decoration: none;
}
#login-external li a span.sprite{
	display: inline-block;
	vertical-align: middle;
}
#login-create-account{
	font-size: 18px;
	margin-bottom: 20px;
	font-family: CreteRoundRegular;
}
#login-create-account .or{
	font-family: CreteRoundItalic;
	font-weight: normal;
	margin: 15px 0 10px 0;
}
#login-create-account a{
	font-size: 18px;
}
#login-forgot{
	display: block;
	opacity: 0.8;
}
#login-forgot:hover{
	opacity: 1;
}

#login-or{
	text-align:center;
	width: 50px;
	margin: 40px 20px 0 20px;
	padding: 80px 20px;
	display: inline-block;
	font-size: 32px;
	font-family: CreteRoundItalic;
	/border: 1px dotted #ddd;
	border-width: 0px 1px;
}

#login-info{
	width: 960px;
	margin: 20px auto;
}


#user-index{
	text-align: center;
}
#user-index ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 20px;
	font-family: CreteRoundRegular;
}
#user-index ul em{
	font-style: normal;
	font-family: CreteRoundItalic;
}


#logged-out{
	text-align: center;
}